.contenedor{
    color: blue;
    margin-bottom: 18px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 16px;
}

